.thread {
    position: relative;
    max-width : calc(1000px - 14px);
    margin: auto;
    box-shadow: 0 3px 3px rgba(0,0,0,.3);
    height: 93vh;
    border: grey 1px solid;
    border-radius: 5px;

        &-texting {
            position: absolute;
            bottom: 0;
            padding: 5px;
            width: 100%;
            margin: auto;
            height: 8%;
            border-top: 1px solid grey;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

                & input {
                    width: 90%;
                    height: 100%;
                    box-sizing: border-box;
                    border: 1px solid grey;
                    border-radius: 15px;
                    padding: 5px;
                    color: black;
                    background-color: #DCDCDC;

                        &::placeholder {
                            color: grey;
                        }
                }

                &-send {
                    font-size: 1.3rem;
                    color: grey;
                    background-color: lightgrey;
                    border: solid 1px grey;
                    border-radius: 15px;

                        &:hover {
                            color: 	#147efb;
                        }
                }
        }

}

